<div class="container">
    <hr>

    <div class="row">
      <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <p id="{{i}}" appHighlight>"{{quote.message}}"</p>
            <div>
              Designed on {{quote.entryDate|date}}
            </div>
            <button (click)='toogleDetails(i)' class="btn btn-success"> Show Author</button>
          </div>

          <div class ="row" *ngIf="quote.showDetails">
            <app-quote-details  [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-details>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
