
@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(./assets/img/emma-matthews-digital-content-production-O_CLjxjzN3M-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
